<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume Matcher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body{
        background-color: #f8f9f7;
    }
    .container{
        margin-top: 50px;
    }
    .card{
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    }
    .card-header{
        background-color: #007bff;
        color: white;
        border-radius: 10px 10px 0 0;
        padding: 10px 10px;
    }
    .card-body{
        padding: 20px;
    }
    .form-group{
        margin-bottom: 1.5rem;
    }
</style>
<body>
  <div class="container">
      <div class="card">
          <div class="card-header">
              <h2>Job Description and Resume Matcher</h2>
          </div>
          <div class="card-body">
              <form action="/matcher" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                      <label for="job_description">Job Description</label>
                      <textarea class="form-control" id="job_description" name="job_description" rows="5"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="resumes">Upload Resumes</label>
                      <p>Please Upload Resumes more than 5................</p>
                      <input type="file" class="form-control" id="resumes" name="resumes" multiple required accept=".pdf .docx .txt">
                  </div>
                  <button type="submit" class="btn btn-primary" > Match Resumes</button>
              </form>
              {% if message %}
              <p>{{ message }}</p>
              {% endif %}
          </div>
      </div>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

</body>
</html>